.password-strength {
  max-width: $field-max-width;
  position: relative;

  input {
    margin-bottom: 0;
  }

  .bar {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
    overflow: hidden;
  }

  .segment {
    display: none;
    width: 25%;
    height: 100%;
    background-color: #cccccc;
    float: left;
    border-right: 2px solid #ffffff;

    &:last-child {
      border-right: 0 none;
    }
  }
}

.password-strength {
  &[data-strength] .segment {
    display: block;
  }

  &[data-strength="1"] {
    .strength-1 {
      background-color: red;
    }
  }

  &[data-strength="2"] {
    .strength-1,
    .strength-2 {
      background-color: orange;
    }
  }

  &[data-strength="3"] {
    .strength-1,
    .strength-2,
    .strength-3 {
      background-color: lightgreen;
    }
  }

  &[data-strength="4"] {
    .strength-1,
    .strength-2,
    .strength-3,
    .strength-4 {
      background-color: chartreuse;
    }
  }
}
